.pro-sidebar {
  min-width: 250px;
  width: 15%;
  height: 100%;
  position: fixed;
}

.pro-sidebar .pro-menu {
  padding-top: 0px;
  padding-bottom: 0px;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
  padding: 0px;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
  border-top: 0px;
  border-bottom: 0px;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-content {
  overflow-y: auto;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-footer {
  border-top: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

.pro-sidebar-content,
  .pro-sidebar > .pro-sidebar-inner,
  .pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background-color: #E4E4E4;
}

.modal-footer {
  justify-content: center;
  background-color: #E4E4E4;
}

.emoji-mart {
  margin-top: 1rem;
}

.icon {
  width: 45px;
  height: 45px;
}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #E4E4E4;
}

::-webkit-scrollbar-thumb {
  background: #D1D1D1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}