.pro-sidebar {
  min-width: 250px;
  width: 15%;
  position: fixed;
}

.pro-sidebar .pro-menu {
  padding-top: 0px;
  padding-bottom: 0px;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
  padding: 0px;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
  border-top: 0px;
  border-bottom: 0px;
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-footer {
  border-top: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

.pro-sidebar-content,
  .pro-sidebar > .pro-sidebar-inner,
  .pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background-color: #E4E4E4;
}

.modal-footer {
  justify-content: center;
  background-color: #E4E4E4;
}